---
layout: base
---

<div class="intro-header"></div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  
  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</main>

<header class="page-header">
  <img src="{{ '/assets/img/legacy.png' }}" class="logo" alt="Logo">
  <h1>{{ Sanghoon Kim-Leffingwell }}</h1>
</header>
